// ASAP
%font-asap { 
  font-family: 'Asap', sans-serif;
  font-weight: 400;
}

%font-asap-bold { 
  font-family: 'Asap', sans-serif;
  font-weight: 700;
}

%font-asap-medium { 
  font-family: 'Asap', sans-serif;
  font-weight: 500;
}

// COOKIE
%font-raleway {
  font-family: 'Raleway Dots', cursive;
}
